.nav-thumbnail{
    height: 50px;
    /* outline:1px solid; */
    vertical-align: top;
}
/* h1{
    outline:1px solid;
} */
.img-thumbnail{
    height: 100px;
}
.dropdown-menu{
    width: 300px;
}
.album{
    min-height: 172px;
    vertical-align: top;
}
.album p{
    min-width: 100px;
    min-height: 24px;
    /* outline: 1px solid; */
    /* color:white; */
    /* background-color: rgba(0, 0, 0, 0.45); */
    background-image: linear-gradient(to right, silver,white,silver);
    /* border:1px solid grey; */
    border-radius: 5px;
    /* box-shadow: 10px 10px 5px #888888; */
}
.active_album{
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(163, 105, 58));
}
.ui-sortable-placeholder{
    vertical-align: top;
}

.sortable{
    min-height: 100px;
    min-width: 100px;
}