body{
    background-image: linear-gradient(white,rgb(204, 209, 224));
    height: 100vh;
}
input{
    width:200px;
}
label{
    width:150px;
}
#register{
    margin-right: 50px;
}
#login{
    vertical-align: top;
}
.button{
    margin-left: 254px;
    width: 100px;
}