<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Advanced Login - Admin Dashboard</title>
</head>
<body>
    <div class="container">
        <h1>Wellcome, {{session['user_name']}}</h1>
        <a href="/logout">Logout</a>
    </div>
    <hr>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user['id']}}</td>
                <td>{{user['user_name']}}</td>
                <td>{{user['email']}}</td>
                <td>{{user['user_level']}}</td>
                <td>
                    {% if user['id']!=session['MyWebsite_user_id']%}
                        <a href="/remove/{{user['id']}}">Remove</a> | 
                        {% if user['user_level']==9: %}
                            <a href="/make_user/{{user['id']}}">Remove Admin Status</a>
                        {% else: %}
                            <a href="/make_admin/{{user['id']}}">Make Admin</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>