<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- bootstrap css cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- jQuery-ui -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <style>
        .nav-thumbnail{
            height: 50px;
        }
        .img-thumbnail{
            height: 100px;
        }
        .dropdown-menu{
            width: 300px;
        }
        .album{
            min-height: 172px;
            vertical-align: top;
        }
        .active_album{
            background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(108, 110, 145));
        }
        .ui-sortable-placeholder{
            vertical-align: top;
        }

    </style>
    <script>
        $(function(){
            // Select the active album, where picture uploads go (also for viewing)
            $('#albums').on('click','.album',function(){
                console.log("album click")
                // remove active_album class from wherever it is
                $('.active_album').removeClass('active_album');
                // add active_album class to this
                $(this).addClass('active_album');
                // set the file upload target album to the active album's id, update the upload labeling
                $("#active_album_input").val($(this).attr("album_id"));
                let file_count=$('.custom-file-input')[0].files.length;
                if (file_count){
                    $("#file_upload_label").text(file_count+" to upload to "+$(this).children('.album_name').text());
                } else {
                    $("#file_upload_label").text("Upload to "+$(this).children('.album_name').text());
                }
                // tell the server that the active album has changed
                $.ajax({
                    method:"POST",
                    //need synch here because View needs the correct active album or we get errors
                    async: false,
                    timeout:5000,
                    url:"/set_active_album",
                    data: { json: JSON.stringify({album_id: $(this).attr("album_id")})}
                });
            })

            // Update upload files label if the file selector is used.
            $('.custom-file-input').change(function(){
                console.log($(this)[0].files.length);
                //$("label[for='inputGroupFile03']").text($(this)[0].files.length+' files selected');
                $("#file_upload_label").text($(this)[0].files.length+" to upload to "+$(".active_album").children('.album_name').text());
            })

            // Move pictures around with by dragging
            // be careful with this if using ajax to add new albums
            $( ".sortable" ).sortable();
            $( "#albums" ).on( "sortupdate",".sortable", function( event, ui ) {
                console.log("New ordering");
                //var sorted = $(this).sortable( "serialize", {key: "pic", attribute: "pictrue_id" } );
                //console.log(sorted);
                var sortedIDs = $(this ).sortable( "toArray",{attribute: "picture_id"} );
                console.log($(this).attr("album_id"));
                console.log(sortedIDs);
                var album_order={
                    album_id: $(this).attr("album_id"),
                    ordering: sortedIDs
                };
                console.log(album_order);
                console.log(JSON.stringify(album_order));
                $.ajax({
                    method:"POST",
                    url:"/reorder_album",
                    data: { json: JSON.stringify(album_order)}
                });
            } );

            // Change album names and descriptions
            $("#albums").on( "dblclick",".album_name", function(){
                $(this).html('<input type="text" name="album_name" album_id="'+$(this).attr("album_id")+'" value="'+$(this).text()+'">')
            });
            $("#albums").on( "dblclick",".album_description", function(){
                $(this).html('<input type="text" name="album_description" album_id="'+$(this).attr("album_id")+'" value="'+$(this).text()+'">')
            });
            $("#albums").on("focusout","input",function(){
                console.log("input loose focus")
                var name= $(this).attr("name");
                var update_info={
                    "album_id" : $(this).attr("album_id")
                };
                update_info[name]=$(this).val();
                $.ajax({
                    method:"POST",
                    url: "/update_album_info",
                    data: {json: JSON.stringify(update_info)}
                }).done(function(resp){});
                $(this).parent().html($(this).val());
            });

            // Picture Search
            $("#picture_search").submit(function(){
                $.ajax({
                    method: $(this).attr("method"),
                    url: $(this).attr("action"),
                    data: $(this).serialize()
                })
                .done(function(resp_data){
                    //expecting a partial here
                    console.log(resp_data);
                    $("#search_results").remove();
                    $("#albums").prepend(resp_data);
                })
                .always(function(){
                });
                return false;
            });
        });
    </script>
    <title>PhotoBomb! Dashboard</title>
</head>
<body>
    <div id="wrapper" class="mx-3">
        <div id="header" >
            <img class="nav-thumbnail" src="../static/camera-icon-th.png" alt="PhotoBomb! logo">
            <h1 class="d-inline-block">PhotoBomb!</h1>
            <form id="picture_search" action="/search" method="POST" class="input-group-btn d-inline-block">
                <input class="ml-5 b4-s shadow" type="text" name="search_str">
                <button class="btn btn-default shadow" type="submit">Search</button>
            </form>
            <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
            <div class="dropdown d-inline">
                <button class="btn shadow dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Create New Album
                </button>
                <div class="dropdown-menu" >
                    <form class="px-4 py-3" action="/create_album" method="POST">
                        <div class="form-group">
                            <label for="new_album">Create Album</label>
                            <input type="text" name="name" class="form-control" id="album_name" placeholder="Album Name" >
                        </div>
                        <div class="form-group">
                            <label for="album_description">Description</label>
                            <input type="text" name="description" class="form-control" id="album_description" placeholder="Put details here...">
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>
            <!-- File Upload Form -->
            <form class="d-inline-block" action="/upload" method="POST" enctype = "multipart/form-data">
                <!-- <input type="file" name="new_pic" multiple="true" accept="image/*">
                <input class="btn shadow" type="submit" value="Upload"> -->
                <input type="hidden" name="active_album" value="{{albums[0].user.active_album}}" id="active_album_input">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon03">Start Upload</button>
                    </div>
                    <div class="custom-file">
                        <input type="file" name="new_pic" multiple accept="image/*" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
                        <label id="file_upload_label" class="custom-file-label" for="inputGroupFile03">Drop Pictures Here</label>
                    </div>
                </div>
            </form>
            <!-- <img class="nav-thumbnail" src="{{profile_pic}}" alt="User profile pic"> -->
            <!-- Change User Details Form -->
            <div class="dropdown d-inline" title="Click for Profile/Logout">
                <img class="nav-thumbnail dropdown-toggle" src="{{profile_pic}}" alt="User profile pic" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="dropdown-menu">
                    <form class="px-4 py-3" action="/update_profile" method="POST" enctype="multipart/form-data">
                        <p>{{session['user_name']}}</p>
                        <div class="form-group">
                            <label for="change_email">Change Email address</label>
                            <input type="email" class="form-control" id="change_email" placeholder="email@example.com" name="email_address" value="{{session['email_address']}}">
                        </div>
                        <div class="form-group">
                            <label for="set_profile_pic">Set Profile Picture</label>
                            <input type="file" name="profile_pic" accept="image/*" class="form-control" id="set_profile_pic">
                            <!-- <input type="file" name="new_pic" multiple accept="image/*" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03"> -->
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </div>
            <!-- </nav> -->
        </div>

        <hr>
        <div id="side_nav">

        </div>
        <div id="albums">
            {% for album in albums %}
                {% if album.name!="search_results"%}
                    {% set active_album="" %}
                    {% if album.user.active_album==album.id: %}
                        {% set active_album="active_album" %}
                    {% endif %}
                    <div class="album d-inline-block shadow p-3 mr-3 mb-3 {{active_album}}" album_id="{{album.id}}" title="Click to make this album the target">
                        <p class="font-weight-bold album_name" album_id="{{album.id}}" title="Double click to change">{{album.name}}</p>
                        <ul class="sortable" album_id="{{album.id}}">
                            {% for picture in album.pictures %}
                            <li class="d-inline-block ui-state-default" picture_id="{{picture.id}}" title="Click to View"><a href="/photos/{{picture.id}}"><img class="img-thumbnail album_pic" src="/UserFiles/{{picture.file_path}}" alt="{{picture.name}}"></a></li>
                            {% endfor %}
                        </ul>
                        <p class="album_description" album_id="{{album.id}}" title="Double click to change">{{album.description}}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>

</html>