<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="PhotoBomb! Dashboard">
    <meta name="author" content="Pierre Bleile">
    
    <!-- bootstrap css cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- jQuery-ui -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!-- My own styling and JS scripts -->
    <link rel="stylesheet" href="{{url_for('static',filename='dashboard.css')}}">
    <script src="{{url_for('static',filename='dashboard.js')}}"></script>

    <title>PhotoBomb! Dashboard</title>
</head>
<body>
    <div id="wrapper" class="m-3">
        <div id="header" >
            <img class="nav-thumbnail" src="../static/camera-icon-th.png" alt="PhotoBomb! logo">
            <h1 class="d-inline-block">PhotoBomb!</h1>
            <!-- Search -->
            <form id="picture_search" action="/search" method="POST" class="input-group-btn d-inline-block" title="Seach by title or description">
                <div class="input-group">
                    <input class="form-control" type="text" name="search_str">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary rounded-right" type="submit">Search</button>
                    </div>
                </div>
            </form>
            <!-- Create New Album Drop Down -->
            <div class="dropdown d-inline">
                <button class="btn shadow dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Create New Album
                </button>
                <div class="dropdown-menu" >
                    <form class="px-4 py-3" action="/create_album" method="POST">
                        <div class="form-group">
                            <label for="new_album">New Album Name</label>
                            <input type="text" name="name" class="form-control" id="album_name" placeholder="What you want to call it..." >
                        </div>
                        <div class="form-group">
                            <label for="album_description">Description</label>
                            <input type="text" name="description" class="form-control" id="album_description" placeholder="Put details here...">
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>
            <!-- File Upload Form -->
            <form class="d-inline-block" action="/upload" method="POST" enctype = "multipart/form-data">
                <input type="hidden" name="active_album" value="{{albums[0].user.active_album}}" id="active_album_input">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon03">Start Upload</button>
                    </div>
                    <div class="custom-file">
                        <input type="file" name="new_pic" multiple accept="image/*" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
                        <label id="file_upload_label" class="custom-file-label" for="inputGroupFile03">Drop Pictures Here</label>
                    </div>
                </div>
            </form>
            <!-- Change User Details Form -->
            <div class="dropdown d-inline" title="Click for Profile/Logout">
                <img class="nav-thumbnail dropdown-toggle" src="{{profile_pic}}" alt="User profile pic" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="dropdown-menu dropdown-menu-right">
                    <form class="px-4 py-3" action="/update_profile" method="POST" enctype="multipart/form-data">
                        <p>{{session['user_name']}}</p>
                        <div class="form-group">
                            <label for="change_email">Change Email address</label>
                            <input type="email" class="form-control" id="change_email" placeholder="email@example.com" name="email_address" value="{{session['email_address']}}">
                        </div>
                        <div class="form-group">
                            <label for="set_profile_pic">Set Profile Picture</label>
                            <input type="file" name="profile_pic" accept="image/*" class="form-control" id="set_profile_pic">
                            <!-- <input type="file" name="new_pic" multiple accept="image/*" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03"> -->
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </div>
        </div>

        <hr>
        <div id="side_nav">

        </div>
        <div id="albums">
            {% for album in albums %}
                {% if album.name!="search_results"%}
                    {% set active_album="" %}
                    {% if album.user.active_album==album.id %}
                        {% set active_album="active_album" %}
                        {% set album_title="Active album: Uploads will appear here." %}
                    {% else %}
                        {% set album_title="Click to make this album the target" %}
                    {% endif %}
                    <div class="album d-inline-block shadow-lg p-3 mr-3 mb-3 {{active_album}}" album_id="{{album.id}}" title="{{album_title}}&#13;Click and hold to move">
                        <p class="font-weight-bold album_name pl-2 border" album_id="{{album.id}}" title="Album Name:  Double click to change">{{album.name}}</p>
                        <ul class="sortable list-inline" album_id="{{album.id}}">
                            <li class="album-menu list-inline-item m-1 align-middle"> 
                                <!-- <input type="checkbox" name="" id=""> Playlist <br><br>  -->
                                <button class="delete-album-btn btn btn-sm btn-outline-danger" album_id="{{album.id}}" title="Delete this album.">Del</button>
                            </li>
                            {% for picture in album.pictures %}
                            <li class="list-inline-item ui-state-default m-1 shadow" picture_id="{{picture.id}}" title="Click to View&#13;Click hold to move"><a href="/photos/{{picture.id}}&{{album.id}}"><img class="img-thumbnail album_pic" src="/UserFiles/thumbnails/{{picture.file_path}}" alt="{{picture.name}}"></a></li>
                            {% endfor %}
                        </ul>
                        <p class="album_description pl-2 border" album_id="{{album.id}}" title="Album Description:  Double click to change">{{album.description}}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteConfirmModalTitle">DELETE ALBUM?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Really?  Lobotomize your visual memories like a nursing home vegetable?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" modal-result="no">OH GOD NO!</button>
                    <button type="button" class="btn btn-danger" modal-result="yes">Pfft!  What evs...</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>